<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>8pad</title>
  <link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body id="home">

  <section id="editor-panel">
    <div id="editor">
Hello world.
=============
This is an example of *lots* of cool stuff.

- One
- Two
- Threeg

[Google](https://www.google.com)!

```javascript
document.getElementById("stuff");
```

css
====

```css
#preview {
  width: 100%;
  border: none;
  box-sizing: border-box;
}

section {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
```
    </div>
  </section>
  <section id="preview-panel">
    <iframe id="preview"></iframe>
  </section>
  <script src="/lib/requirejs/require.js" data-main="/js/main.js"></script>
</body>
</html>
