<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>8pad</title>
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
  <link rel="stylesheet" href="css/main.css">
</head>

<body id="home">
<div class="wrapper hidden">
<header>
  8PAD
  <div id="menu">
    <button id="menu-btn" class="btn"><span class="icon-reorder"></span></button>
  </div>
</header>
<div id="sidebar">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div id="main">
  <section id="editor-panel">
    <div id="editor">
Hello world.
=============
This is an example of *lots* of cool stuff.

- One
- Two
- Threeg

## Gifs

[Google](https://www.google.com)!

```javascript
document.getElementById("stuff");
```

css
====

```css
#preview {
  width: 100%;
  border: none;
  box-sizing: border-box;
}

section {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
```
      </div>
    </section>
    <section id="preview-panel">
      <iframe id="preview"></iframe>
    </section>
  </div><!-- #main -->
  </div><!-- .wrapper -->
  <script src="/lib/requirejs/require.js" data-main="/js/main.js"></script>
</body>
</html>
