@import "nib";

global-reset();

html, body, form, iframe {
  height: 100%;
}

.hidden {
  display: none;
}

#preview {
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.header {
  height: 5%;
  width: 100%;
  background: rgb( 227, 227, 227 );
  text-align: center;
}

section {
  width: 50%;
  height: 95%;
  float: left;
  position: relative;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
