@import "nib";

.CodeMirror {
  border-top:
  1px solid black;
  border-bottom: 1px solid black;
}

#preview {
  width: 100%;
  border: 1px solid black;
  height: 1000px;
}

.giffy {
  width: 45px;
  border-radius: 45px;
}
