@import "nib";

global-reset();

/*********************************************************
* Globals
*/

hheight = 60px;
sidebarwidth = 350px;
slate = #272822;

slide-transition(prop=all)
  transition: all 0.1s linear;

/*********************************************************
* Base
*/

html,
body {
  height: 100%;
  background: slate;
  color: #EEE;
}

body {
  font-family: Inconsolata, sans-serif;
  // Prevent weird artifacts in Chrome on CSS transforms.
  -webkit-backface-visibility: hidden;
}

.wrapper {
transition: opacity 0.5s linear;
}

.hidden {
  opacity: 0;
}

/*********************************************************
* Buttons
*/
.btn {
  background: slate;
  color: #EEE;
  border: 1px solid lighten(slate, 10%);
  cursor: pointer;
  &:hover {
    background: lighten(slate, 5%);
    border-color: lighten(slate, 15%);
    color: #FFF;
  }
}

/*********************************************************
* Main
*/

#main {
  position: absolute;
  top: hheight;
  bottom: 0;
  left: 0;
  right: 0;
  slide-transition();
  &.collapsed {
    right: sidebarwidth;
  }
}
section {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

/*********************************************************
* Header
*/

header {
  position: relative;
  z-index: 2;
  height: hheight;
  line-height: hheight;
  padding: 0 10px 0 20px;
  border-bottom: 1px solid lighten(slate, 10%);
  box-sizing: border-box;
}

#menu {
  float: right
}

#menu-btn {
  font-size: 20px;
  height: 40px;
  width: 40px;
}

#menu-btn {
  > span:before {
    slide-transition(transform);
  }
  &.collapsed > span:before {
    transform: rotate(90deg);
  }
}

/*********************************************************
* Sidebar Menu
*/
#sidebar {
  position: absolute;
  width: sidebarwidth;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
}

/*********************************************************
* Editor
*/

#editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*********************************************************
* Preview
*/
#preview {
  width: 100%;
  height: 100%;
  border: none;
}
